.App {
  text-align: center;
}

.TextLeftReview  {
  text-align: left;
  margin-left: 5%;
  margin-bottom: 5%;
}

.TextRight{
  text-align: right;
  margin-right: 15px;
}

.TextCenter{
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.tableReview {
  width: 100%;
  min-height: 300px;
  border-spacing: 10%;
  }

  .tableReview th, .tableReview td {
    text-align: left; 
    width: 22%; 
    background-color: inherit;
    padding: 0.5rem;
    margin: 0.2rem;
  }
  .tableReview th:nth-child(3), .tableReview td:nth-child(3) {
    width: 50%; 
  }

  .tableReview th:nth-child(4), .tableReview td:nth-child(4) {
    width: 4%; 
  }
  .tableReview tr {
    border-bottom: 1px solid #c0c0c0;
  }

 


.desplegable {
  text-align: right;
  margin-right: 15%;
  margin-bottom: 5%; 
}

.backgroundInherit {
  background-color: inherit;
}
.containerCommentOrderBy {
  display: 'flex';
  -ms-flex-align: center;

}

.add-comment-button {
  background-color: #e69021;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 8px; 
  cursor: pointer;
  text-decoration: none;
  margin-top: 5%;
  margin-right: 65%;
}

.add-comment-button:hover {
  background-color: #f0b261;
}
.tableNewComment {
  width: 80%;

  }

.tableNewComment th, .tableNewComment td {
  text-align: left; 
  width: 22%; 
  background-color: inherit;
}

.paginationMyReview{
  text-align: right;
 
}

.paginationDetail{
  margin-bottom: 5%;
  margin-left: 65%;
  text-align: right;
}


.countCaracters{
  text-align: right;
  margin-right: 5%;
  margin-bottom: 5%
}

