    
.basket-orders{
    margin-top: 2rem;
    }
    
    
    .basket-order{
        border-color: #17a2b8;
        background-color: #edf7f8;
    }

    
    .card-header {
      background-color: #0dcaf0;
      color: white;
    }

    .card-body {
      border-color: #0dcaf0;
      background-color: #edf7f8;
    }

    
    .basket-order .list-group-item {
      background-color: inherit;
    }
    
    .section-title{
      margin: 2rem;
    }
    
    .update-quantity{
        width: 60px;
        display: inline-block;
    }